button {
  border: none;
  background-color: #4CAF50;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1em;
  color: white;
  padding: 4px;
  transition: all .25s ease;
  &:hover {
    color: black;
  }
}

.red-button {
  background-color: #F44336;
}

.new-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}